<div class="container shadow-sm">
  <div class="row" *ngIf="flag">
    <h2 class="text-center display-5 text-secondary">
      CURRENT OFFERS AVAILABLE
    </h2>
    <div class="col">
      <div class="cotainer pb-5 pt-2">
        <div class="row justify-content-between">
          <div class="col">
            <div class="container">
              <div class="row">
                <div class="col pb-3" *ngFor="let offer of offers">
                  <div class="card" style="width: 18rem">
                    <img
                      class="card-img-top"
                      [src]="
                        offer.offerName == 'CREDITCARD'
                          ? 'assets/creditCard.jpg'
                          : offer.offerName == 'HOMELOAN'
                          ? 'assets/home.jpg'
                          : offer.offerName == 'CARLOAN'
                          ? 'assets/car.jpg'
                          : ''
                      "
                      src="assets/creditCard.jpg"
                      alt="hello"
                      height="150"
                    />
                    <div class="card-body">
                      <h4 class="card-title">
                        {{
                          offer.offerName == "CREDITCARD"
                            ? "CREDIT CARD"
                            : offer.offerName == "HOMELOAN"
                            ? "HOME LOAN"
                            : offer.offerName == "CARLOAN"
                            ? "CAR LOAN"
                            : ""
                        }}
                      </h4>
                      <p
                        class="card-text"
                        *ngIf="offer.offerName == 'HOMELOAN'"
                      >
                        A good home is a place you can always come back to, and
                        a great mortgage is one that helps you get there. No
                        prepayment penalties. You can pay early without a
                        charge.
                      </p>
                      <p
                        class="card-text"
                        *ngIf="offer.offerName == 'CREDITCARD'"
                      >
                        We offer several different types of creditcard to meet
                        the various needs of our finacial family. From rewards
                        cards, to balance tranfer, to cards that help you built
                        your credit
                      </p>
                      <p class="card-text" *ngIf="offer.offerName == 'CARLOAN'">
                        Looking for the best and cheapest car loan interest
                        rates in Singapore for new car financing, used car
                        financing, and commercial vehicle financing,Lorem, ipsum
                        financing, and comme
                      </p>
                      <div class="text-center">
                        <a
                          class="btn btn-primary w-50"
                          (click)="handleCreditCard(offer)"
                          >Apply</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
