<div class="hero vh-100 vw-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4">
          WELCOME TO <span class="text-danger">NEVOOP BANK </span>,ONLINE
          SERVICE RECENT BANKING SYSTEM
        </h1>
        <p>
          Whether you’re looking to build, buy or expand your business, let our
          team at Live NevooP Bank be your guide. When you bank with us, it
          means your money is fueling the growth of small businesses across the
          country.
        </p>

        <button class="btn btn-primary" routerLink="/login">Get Started</button>
      </div>
    </div>
  </div>
</div>
