<div class="container shadow">
  <h1 class="text-center text-secondary display-5 mt-2">Account List</h1>
  <div class="row">
    <div class="form-group col-5">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="filterText"
        placeholder="Search...."
      />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="table-wrapper">
        <table class="table table-bordered table-striped">
          <thead>
            <tr class="table-primary">
              <th>Account no</th>
              <th>First Name</th>
              <th>Second Name</th>
              <th>City</th>
              <th>Phone</th>
              <th>Account Type</th>
              <th>Account Balance</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let account of filteredList
                  | paginate
                    : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count
                      };
                let i = index
              "
            >
              <td scope="row">{{ account.actNumber }}</td>
              <td>{{ account.customer?.firstName }}</td>
              <td>{{ account.customer?.lastName }}</td>
              <td>{{ account.customer?.city }}</td>
              <td>{{ account.customer?.phone }}</td>
              <td>{{ account.actType }}</td>
              <td>$ {{ account.actBalance }}</td>
              <td>
                <i
                  class="btn btn-primary bi-pencil-square"
                  (click)="handleEdit(account!.id)"
                >
                </i>
              </td>
              <td>
                <i
                  class="bi-trash btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                  (click)="bankId(account!.id)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="handleDelete()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
