<!-- <div class="container mt-3 bg-transparent">
  <h1 class="display-4 text-center text-secondary">About Us</h1>
  <div class="row">
    <div class="col">
      <div class="card no-border border-0 bg-transparent" style="width: 100">
        <div class="row">
          <div class="col-7">
            <div class="card-body bg-transparent">
              <p class="h6">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
                sequi inventore maiores placeat cumque incidunt omnis labore
                eius, sapiente perferendis ipsum tempora, quasi pariatur
                distinctio blanditiis nesciunt. Sequi, quisquam repellat. eius,
                sapiente perferendis ipsum tempora, quasi pariatur distinctio
                blanditiis nesciunt. Sequi, quisquam repellat. Lorem, ipsum
                dolor sit amet consectetur adipisicing elit. Enim sequi
                inventore maiores placeat cumque incidunt omnis labore eius,
                sapiente perferendis ipsum tempora, quasi pariatur distinctio
                blanditiis nesciunt. Sequi, quisquam repellat. eius, sapiente
                perferendis ipsum tempora, quasi pariatur distinctio blanditiis
              </p>
            </div>

            <div class="text-center">
              <a class="btn btn-primary w-50">Know More</a>
            </div>
          </div>
          <div class="col-5">
            <img
              class="card-img"
              src="assets/bank2.jpg"
              alt="hello"
              height="400"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="hero vh-100 vw-100 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4">
          WE’RE ON A MISSION TO BE WORLD’S BEST BUSINESS BANK
        </h1>
        <p>
          Whether you’re looking to build, buy or expand your business, let our
          team at Live NevooP Bank be your guide. When you bank with us, it
          means your money is fueling the growth of small businesses across the
          country.
        </p>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" href="">Know More</button>
          </div>
          <div class="col">
            <button class="btn btn-primary" href="">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
