.demo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid blue;
  height: 300px;
  align-items: center;
}

.demo-section .flex-item {
  border: 1px solid black;
  flex-basis: 200px;
}
